._1-10,
._1-10 * {
  box-sizing: border-box;
}
._1-10 {
  background: #ffffff;
  height: 2756px;
  position: relative;
  overflow: hidden;
}
._1-102 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "BalsamiqSans-Regular", sans-serif;
  font-size: 48px;
  line-height: 58px;
  font-weight: 400;
  position: absolute;
  left: 232px;
  top: 240px;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.component-13 {
  width: 346px;
  height: 510px;
  position: absolute;
  left: 1920px;
  top: 3208px;
}
.rectangle-29 {
  background: var(--white, #ffffff);
  border-radius: 12px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.04);
}
.heart {
  width: 6.94%;
  height: 4.71%;
  position: absolute;
  right: 6.94%;
  left: 86.13%;
  bottom: 90.59%;
  top: 4.71%;
  overflow: visible;
}
.group-35 {
  position: absolute;
  right: 122px;
  left: 122px;
  bottom: 134px;
  top: 344px;
}
.frame-10 {
  display: flex;
  flex-direction: row;
  gap: 8px;
  align-items: center;
  justify-content: flex-start;
  position: absolute;
  left: 50%;
  translate: -50%;
  top: 0px;
  overflow: hidden;
}
._52-000 {
  color: var(--blue, #7fc9f0);
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.xmlid-449 {
  flex-shrink: 0;
  width: 11px;
  height: 17px;
  position: relative;
  overflow: visible;
}
.pram-png-17895-1 {
  width: 62.74%;
  height: 47.06%;
  position: absolute;
  right: 16.16%;
  left: 21.1%;
  bottom: 48.24%;
  top: 4.71%;
  object-fit: cover;
}
.riko-basic {
  color: var(--sea, #446b80);
  text-align: center;
  font-family: "BalsamiqSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 16.18%;
  left: 16.18%;
  width: 67.63%;
  bottom: 34.12%;
  top: 56.47%;
  height: 9.41%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-4 {
  width: 42.2%;
  height: 9.41%;
  position: absolute;
  right: 28.9%;
  left: 28.9%;
  bottom: 12.16%;
  top: 78.43%;
}
.rectangle-2 {
  background: var(--blue, #7fc9f0);
  border-radius: 12px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.div {
  color: var(--white, #ffffff);
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 24px;
  left: 24px;
  top: 13px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.text-normal {
  width: 53.76%;
  height: 4.31%;
  position: absolute;
  right: 23.12%;
  left: 23.12%;
  bottom: 4.71%;
  top: 90.98%;
}
.div2 {
  color: var(--blue, #7fc9f0);
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 0%;
  left: 0%;
  width: 100%;
  bottom: 0%;
  top: 0%;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.div3 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 207px;
  top: 357px;
  width: 221px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div4 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 207px;
  top: 434px;
  width: 216px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-44 {
  background: var(--blue, #7fc9f0);
  border-radius: 30px;
  width: 14.48%;
  height: 2.07%;
  position: absolute;
  right: 75.99%;
  left: 9.53%;
  bottom: 77.32%;
  top: 20.61%;
}
.div5 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 207px;
  top: 508px;
  width: 271px;
  height: 40px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div6 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 207px;
  top: 582px;
  width: 296px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div7 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 207px;
  top: 645px;
  width: 358px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.rectangle-43 {
  background: var(--post1, #ecc7c1);
  opacity: 0.16;
  width: 1920px;
  height: 188px;
  position: absolute;
  left: 0px;
  top: 0px;
}
.div8 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 24px;
  font-weight: 500;
  position: absolute;
  left: 207px;
  top: 708px;
  width: 328px;
  height: 73px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div9 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  position: absolute;
  left: 606px;
  top: 207px;
  width: 276px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-254 {
  opacity: 0.8;
  position: absolute;
  inset: 0;
}
.div10 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  opacity: 0.8;
  position: absolute;
  left: 232px;
  top: 207px;
  width: 66px;
  height: 13.18px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._1-103 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  font-weight: 400;
  position: absolute;
  left: 333px;
  top: 207px;
  width: 256px;
  height: 13px;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.vector {
  border-radius: 0px;
  width: 0.15%;
  height: 0.12%;
  position: absolute;
  right: 83.49%;
  left: 16.35%;
  bottom: 92.07%;
  top: 7.81%;
  overflow: visible;
}
.vector2 {
  border-radius: 0px;
  width: 0.15%;
  height: 0.12%;
  position: absolute;
  right: 69.17%;
  left: 30.68%;
  bottom: 92.08%;
  top: 7.8%;
  overflow: visible;
}
.group-253 {
  position: absolute;
  inset: 0;
}
.component-10 {
  width: 346px;
  height: 510px;
  position: absolute;
  left: 616px;
  top: 852px;
}
.heart2 {
  width: 6.94%;
  height: 4.71%;
  position: absolute;
  right: 6.94%;
  left: 86.13%;
  bottom: 90.59%;
  top: 4.71%;
  overflow: visible;
}
.group-352 {
  position: absolute;
  right: 124px;
  left: 120px;
  bottom: 130px;
  top: 348px;
}
._650-00 {
  color: var(--blue, #7fc9f0);
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._604006 {
  color: var(--sea, #446b80);
  text-align: center;
  font-family: "BalsamiqSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 16.18%;
  left: 16.18%;
  width: 67.63%;
  bottom: 34.12%;
  top: 56.47%;
  height: 9.41%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image {
  border-radius: 220px;
  width: 281px;
  height: 276px;
  position: absolute;
  left: 640px;
  top: 852px;
  object-fit: cover;
}
.group-2542 {
  position: absolute;
  inset: 0;
}
.component-102 {
  width: 346px;
  height: 510px;
  position: absolute;
  left: 986px;
  top: 1386px;
}
.heart3 {
  width: 6.94%;
  height: 4.71%;
  position: absolute;
  right: 6.94%;
  left: 86.13%;
  bottom: 90.59%;
  top: 4.71%;
  overflow: visible;
}
.group-353 {
  position: absolute;
  right: 120px;
  left: 124px;
  bottom: 130px;
  top: 348px;
}
._520-00-600-00 {
  color: var(--blue, #7fc9f0);
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._605003 {
  color: var(--sea, #446b80);
  text-align: center;
  font-family: "BalsamiqSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 16.18%;
  left: 16.18%;
  width: 67.63%;
  bottom: 34.12%;
  top: 56.47%;
  height: 9.41%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image2 {
  border-radius: 220px;
  width: 287px;
  height: 278px;
  position: absolute;
  left: 1010px;
  top: 1386px;
  object-fit: cover;
}
.group-255 {
  position: absolute;
  inset: 0;
}
.component-103 {
  width: 346px;
  height: 510px;
  position: absolute;
  left: 1356px;
  top: 318px;
}
.heart4 {
  width: 6.94%;
  height: 4.71%;
  position: absolute;
  right: 6.94%;
  left: 86.13%;
  bottom: 90.59%;
  top: 4.71%;
  overflow: visible;
}
.group-354 {
  position: absolute;
  right: 124px;
  left: 120px;
  bottom: 134px;
  top: 344px;
}
._495-00 {
  color: var(--blue, #7fc9f0);
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-36 {
  opacity: 0.72;
  position: absolute;
  right: 77px;
  left: 196px;
  bottom: 134px;
  top: 344px;
}
._604002-287 {
  color: var(--sea, #446b80);
  text-align: center;
  font-family: "BalsamiqSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 16.76%;
  left: 15.61%;
  width: 67.63%;
  bottom: 32.55%;
  top: 58.04%;
  height: 9.41%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image3 {
  border-radius: 220px;
  width: 290px;
  height: 276px;
  position: absolute;
  left: 1364px;
  top: 321px;
  object-fit: cover;
}
.group-256 {
  position: absolute;
  inset: 0;
}
.component-104 {
  width: 346px;
  height: 510px;
  position: absolute;
  left: 1356px;
  top: 1386px;
}
.heart5 {
  width: 6.94%;
  height: 4.71%;
  position: absolute;
  right: 6.94%;
  left: 86.13%;
  bottom: 90.59%;
  top: 4.71%;
  overflow: visible;
}
._606002 {
  color: var(--sea, #446b80);
  text-align: center;
  font-family: "BalsamiqSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 16.18%;
  left: 16.18%;
  width: 67.63%;
  bottom: 34.12%;
  top: 56.47%;
  height: 9.41%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image4 {
  border-radius: 220px;
  width: 290px;
  height: 279px;
  position: absolute;
  left: 1391px;
  top: 1385px;
  object-fit: cover;
}
.group-257 {
  position: absolute;
  inset: 0;
}
.component-105 {
  width: 346px;
  height: 510px;
  position: absolute;
  left: 1356px;
  top: 1920px;
}
.heart6 {
  width: 6.94%;
  height: 4.71%;
  position: absolute;
  right: 6.94%;
  left: 86.13%;
  bottom: 90.59%;
  top: 4.71%;
  overflow: visible;
}
._607001 {
  color: var(--sea, #446b80);
  text-align: center;
  font-family: "BalsamiqSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 16.18%;
  left: 16.18%;
  width: 67.63%;
  bottom: 34.12%;
  top: 56.47%;
  height: 9.41%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image5 {
  border-radius: 220px;
  width: 293px;
  height: 279px;
  position: absolute;
  left: 1391px;
  top: 1926px;
  object-fit: cover;
}
.component-29 {
  width: 346px;
  height: 510px;
  position: absolute;
  left: 986px;
  top: 852px;
}
.heart7 {
  width: 6.94%;
  height: 4.71%;
  position: absolute;
  right: 6.94%;
  left: 86.13%;
  bottom: 90.59%;
  top: 4.71%;
  overflow: visible;
}
.image6 {
  border-radius: 220px;
  width: 82.95%;
  height: 54.71%;
  position: absolute;
  right: 10.12%;
  left: 6.94%;
  bottom: 46.67%;
  top: -1.37%;
  object-fit: cover;
}
._604007 {
  color: var(--sea, #446b80);
  text-align: center;
  font-family: "BalsamiqSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 16.18%;
  left: 16.18%;
  width: 67.63%;
  bottom: 34.12%;
  top: 56.47%;
  height: 9.41%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-30 {
  width: 346px;
  height: 510px;
  position: absolute;
  left: 616px;
  top: 1920px;
}
.heart8 {
  width: 6.94%;
  height: 4.71%;
  position: absolute;
  right: 6.94%;
  left: 86.13%;
  bottom: 90.59%;
  top: 4.71%;
  overflow: visible;
}
.image7 {
  border-radius: 220px;
  width: 83.82%;
  height: 52.94%;
  position: absolute;
  right: 8.09%;
  left: 8.09%;
  bottom: 45.1%;
  top: 1.96%;
  object-fit: cover;
}
._606004 {
  color: var(--sea, #446b80);
  text-align: center;
  font-family: "BalsamiqSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 8.38%;
  left: 15.9%;
  width: 75.72%;
  bottom: 34.12%;
  top: 56.47%;
  height: 9.41%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-31 {
  width: 346px;
  height: 510px;
  position: absolute;
  left: 986px;
  top: 1920px;
}
.heart9 {
  width: 6.94%;
  height: 4.71%;
  position: absolute;
  right: 6.94%;
  left: 86.13%;
  bottom: 90.59%;
  top: 4.71%;
  overflow: visible;
}
.image8 {
  border-radius: 220px;
  width: 84.1%;
  height: 54.9%;
  position: absolute;
  right: 8.09%;
  left: 7.8%;
  bottom: 45.1%;
  top: 0%;
  object-fit: cover;
}
._606005 {
  color: var(--sea, #446b80);
  text-align: center;
  font-family: "BalsamiqSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 16.18%;
  left: 16.18%;
  width: 67.63%;
  bottom: 34.12%;
  top: 56.47%;
  height: 9.41%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.new {
  width: 346px;
  height: 510px;
  position: absolute;
  left: 1356px;
  top: 852px;
}
.heart10 {
  width: 6.94%;
  height: 4.71%;
  position: absolute;
  right: 6.94%;
  left: 86.13%;
  bottom: 90.59%;
  top: 4.71%;
  overflow: visible;
}
.image9 {
  border-radius: 220px;
  width: 80.06%;
  height: 54.31%;
  position: absolute;
  right: 10.4%;
  left: 9.54%;
  bottom: 45.69%;
  top: 0%;
  object-fit: cover;
}
._604008 {
  color: var(--sea, #446b80);
  text-align: center;
  font-family: "BalsamiqSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 6.94%;
  left: 9.54%;
  width: 83.53%;
  bottom: 36.47%;
  top: 54.12%;
  height: 9.41%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-58 {
  width: 52px;
  height: 24px;
  position: absolute;
  left: 24px;
  top: 24px;
}
.rectangle-42 {
  background: #e5f4fc;
  border-radius: 8px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.new2 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 12px;
  font-weight: 600;
  position: absolute;
  right: 19.23%;
  left: 19.23%;
  width: 61.54%;
  bottom: 16.67%;
  top: 20.83%;
  height: 62.5%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.component-32 {
  width: 346px;
  height: 510px;
  position: absolute;
  left: 616px;
  top: 1386px;
}
.heart11 {
  width: 6.94%;
  height: 4.71%;
  position: absolute;
  right: 6.94%;
  left: 86.13%;
  bottom: 90.59%;
  top: 4.71%;
  overflow: visible;
}
.image10 {
  border-radius: 220px;
  width: 83.24%;
  height: 56.47%;
  position: absolute;
  right: 7.8%;
  left: 8.96%;
  bottom: 43.53%;
  top: 0%;
  object-fit: cover;
}
._605001-310 {
  color: var(--sea, #446b80);
  text-align: center;
  font-family: "BalsamiqSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 16.18%;
  left: 16.18%;
  width: 67.63%;
  bottom: 34.12%;
  top: 56.47%;
  height: 9.41%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-106 {
  width: 346px;
  height: 510px;
  position: absolute;
  left: 986px;
  top: 318px;
}
.heart12 {
  width: 6.94%;
  height: 4.71%;
  position: absolute;
  right: 6.94%;
  left: 86.13%;
  bottom: 90.59%;
  top: 4.71%;
  overflow: visible;
}
._400-00-600-00 {
  color: var(--blue, #7fc9f0);
  text-align: left;
  font-family: "Montserrat-SemiBold", sans-serif;
  font-size: 24px;
  line-height: 32px;
  font-weight: 600;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
._404003 {
  color: var(--sea, #446b80);
  text-align: center;
  font-family: "BalsamiqSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 16.18%;
  left: 16.18%;
  width: 67.63%;
  bottom: 34.12%;
  top: 56.47%;
  height: 9.41%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.image11 {
  border-radius: 220px;
  width: 290px;
  height: 276px;
  position: absolute;
  left: 994px;
  top: 321px;
  object-fit: cover;
}
.rectangle-292 {
  background: var(--white, #ffffff);
  border-radius: 12px;
  width: 18.02%;
  height: 18.51%;
  position: absolute;
  right: 49.84%;
  left: 32.14%;
  bottom: 69.96%;
  top: 11.54%;
  box-shadow: 0px 0px 40px 0px rgba(0, 0, 0, 0.04);
}
.heart13 {
  width: 1.25%;
  height: 0.87%;
  position: absolute;
  right: 48.23%;
  left: 50.52%;
  bottom: 87.3%;
  top: 11.83%;
  overflow: visible;
}
.group-355 {
  position: absolute;
  right: 1091px;
  left: 727px;
  bottom: 2062px;
  top: 662px;
}
.image12 {
  border-radius: 137px;
  width: 15.36%;
  height: 9.76%;
  position: absolute;
  right: 51.72%;
  left: 32.92%;
  bottom: 78.45%;
  top: 11.79%;
  object-fit: cover;
}
.div11 {
  color: var(--blue, #7fc9f0);
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 53.96%;
  left: 36.35%;
  width: 9.69%;
  bottom: 70.83%;
  top: 28.37%;
  height: 0.8%;
  display: flex;
  align-items: center;
  justify-content: center;
}
._507001 {
  color: var(--sea, #446b80);
  text-align: center;
  font-family: "BalsamiqSans-Regular", sans-serif;
  font-size: 18px;
  line-height: 24px;
  font-weight: 400;
  position: absolute;
  right: 53.39%;
  left: 34.43%;
  width: 12.19%;
  bottom: 76.27%;
  top: 21.99%;
  height: 1.74%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.component-42 {
  width: 7.6%;
  height: 1.74%;
  position: absolute;
  right: 55.68%;
  left: 36.72%;
  bottom: 72.21%;
  top: 26.05%;
}
.component-24 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 563px;
  top: 2443px;
}
._1 {
  color: var(--sea, #446b80);
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 2.5%;
  left: 2.5%;
  width: 95%;
  bottom: 2.5%;
  top: 2.5%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.rectangle-45 {
  border-radius: 6px;
  border-style: solid;
  border-color: var(--sea, #446b80);
  border-width: 1px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.component-25 {
  width: 40px;
  height: 40px;
  position: absolute;
  left: 607px;
  top: 2443px;
}
._2 {
  color: var(--sea, #446b80);
  text-align: center;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 2.5%;
  left: 2.5%;
  width: 95%;
  bottom: 2.5%;
  top: 2.5%;
  height: 95%;
  display: flex;
  align-items: center;
  justify-content: center;
}
.group-2532 {
  width: 102px;
  height: 24px;
  position: absolute;
  left: 658px;
  top: 2451px;
}
.div12 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 25.49%;
  left: 0%;
  width: 74.51%;
  bottom: 4.17%;
  top: 4.17%;
  height: 91.67%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.chevron-right {
  width: 23.53%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 76.47%;
  bottom: 0%;
  top: 0%;
  overflow: visible;
}
.footer {
  width: 1920px;
  height: 271px;
  position: absolute;
  left: 2px;
  top: 2482px;
}
.vector-3 {
  opacity: 0.16;
  width: 100%;
  height: 0%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 100%;
  top: 0%;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.mask-group {
  width: 4.17%;
  height: 29.52%;
  position: absolute;
  right: 83.59%;
  left: 12.24%;
  bottom: 49.82%;
  top: 20.66%;
  overflow: visible;
}
.div13 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "BalsamiqSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  font-weight: 400;
  opacity: 0.8;
  position: absolute;
  right: 74.22%;
  left: 17.24%;
  width: 8.54%;
  bottom: 56.46%;
  top: 27.31%;
  height: 16.24%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.group-51 {
  position: absolute;
  inset: 0;
}
.div14 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 43.65%;
  left: 47.29%;
  width: 9.06%;
  bottom: 50.92%;
  top: 40.96%;
  height: 8.12%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div15 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 43.07%;
  left: 47.29%;
  width: 9.64%;
  bottom: 64.94%;
  top: 26.94%;
  height: 8.12%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.group-52 {
  position: absolute;
  inset: 0;
}
.div16 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 59.48%;
  left: 37.76%;
  width: 2.76%;
  bottom: 64.94%;
  top: 26.94%;
  height: 8.12%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div17 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 57.66%;
  left: 37.76%;
  width: 4.58%;
  bottom: 50.92%;
  top: 40.96%;
  height: 8.12%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.group-53 {
  position: absolute;
  inset: 0;
}
.div18 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  line-height: 22px;
  font-weight: 400;
  position: absolute;
  right: 12.24%;
  left: 76.3%;
  width: 11.46%;
  bottom: 64.94%;
  top: 26.94%;
  height: 8.12%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.ant-design-instagram-outlined {
  width: 1.67%;
  height: 11.81%;
  position: absolute;
  right: 22.03%;
  left: 76.3%;
  bottom: 47.23%;
  top: 40.96%;
  overflow: visible;
}
.bx-bxl-whatsapp {
  width: 1.67%;
  height: 11.81%;
  position: absolute;
  right: 19.53%;
  left: 78.8%;
  bottom: 47.23%;
  top: 40.96%;
  overflow: visible;
}
.vk {
  width: 1.67%;
  height: 11.81%;
  position: absolute;
  right: 17.03%;
  left: 81.3%;
  bottom: 47.23%;
  top: 40.96%;
  overflow: visible;
}
.fb {
  width: 1.67%;
  height: 11.81%;
  position: absolute;
  right: 14.53%;
  left: 83.8%;
  bottom: 47.23%;
  top: 40.96%;
  overflow: visible;
}
.div19 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  opacity: 0.72;
  position: absolute;
  right: 34.06%;
  left: 37.76%;
  width: 28.18%;
  bottom: 0%;
  top: 91.88%;
  height: 8.12%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
._2020-karapuz-05-ru {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  font-weight: 400;
  opacity: 0.72;
  position: absolute;
  right: 73.07%;
  left: 12.08%;
  width: 14.84%;
  bottom: 0%;
  top: 91.88%;
  height: 8.12%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.group-250 {
  width: 1920px;
  height: 188px;
  position: static;
}
.group-251 {
  width: 1920px;
  height: 188px;
  position: static;
}
.group-252 {
  width: 1920px;
  height: 188px;
  position: static;
}
.group-60 {
  width: 1920px;
  height: 188px;
  position: absolute;
  left: 0px;
  top: -4px;
}
.rectangle-4 {
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.div20 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
  position: absolute;
  right: 53.65%;
  left: 37.29%;
  width: 9.06%;
  bottom: 13.3%;
  top: 75%;
  height: 11.7%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div21 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
  position: absolute;
  right: 67.97%;
  left: 29.27%;
  width: 2.76%;
  bottom: 13.3%;
  top: 75%;
  height: 11.7%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div22 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
  position: absolute;
  right: 64.11%;
  left: 35.89%;
  width: 0%;
  bottom: 14.36%;
  top: 73.94%;
  height: 11.7%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.div23 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
  position: absolute;
  right: 36.51%;
  left: 950px;
  width: 4.58%;
  bottom: 13.3%;
  top: 75%;
  height: 11.7%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-13 {
  position: absolute;
  inset: 0;
}
.component-7 {
  width: 24.43%;
  height: 25.53%;
  position: absolute;
  right: 44.22%;
  left: 31.35%;
  bottom: 56.91%;
  top: 17.55%;
}
.rectangle-1 {
  background: var(--black-blue, #223540);
  border-radius: 12px;
  opacity: 0.04;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.search {
  width: 5.12%;
  height: 50%;
  position: absolute;
  right: 89.77%;
  left: 5.12%;
  bottom: 25%;
  top: 25%;
  overflow: visible;
}
.div24 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.64;
  position: absolute;
  right: 55.01%;
  left: 15.35%;
  width: 29.64%;
  bottom: 27.08%;
  top: 27.08%;
  height: 45.83%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.component-5 {
  width: 23.03%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 76.97%;
  bottom: 0%;
  top: 0%;
}
.rectangle-22 {
  background: var(--blue, #7fc9f0);
  border-radius: 0px 12px 12px 0px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.component-2 {
  border-radius: 12px;
  width: 11.61%;
  height: 25.53%;
  position: absolute;
  right: 69.9%;
  left: 18.49%;
  bottom: 57.45%;
  top: 17.02%;
}
.rectangle-3 {
  background: var(--blue, #7fc9f0);
  border-radius: 12px;
  width: 100%;
  height: 100%;
  position: absolute;
  right: 0%;
  left: 0%;
  bottom: 0%;
  top: 0%;
}
.menu {
  width: 10.76%;
  height: 50%;
  position: absolute;
  right: 7.17%;
  left: 82.06%;
  bottom: 25%;
  top: 25%;
  overflow: visible;
}
.div25 {
  color: var(--white, #ffffff);
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 22.87%;
  left: 7.17%;
  width: 69.96%;
  bottom: 27.08%;
  top: 27.08%;
  height: 45.83%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-32 {
  position: absolute;
  inset: 0;
}
.shopping-cart {
  width: 1.25%;
  height: 12.77%;
  position: absolute;
  right: 30.36%;
  left: 1120px;
  bottom: 13.3%;
  top: 73.94%;
  overflow: visible;
}
.div26 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
  position: absolute;
  right: 36.51%;
  left: 1150px;
  width: 4.58%;
  bottom: 13.3%;
  top: 75%;
  height: 11.7%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.group-31 {
  position: absolute;
  inset: 0;
}
.user {
  width: 1.25%;
  height: 12.77%;
  position: absolute;
  right: 35.1%;
  left: 63.65%;
  bottom: 63.3%;
  top: 23.94%;
  overflow: visible;
}
.div27 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  position: absolute;
  right: 22.34%;
  left: 65.52%;
  width: 12.14%;
  bottom: 63.83%;
  top: 24.47%;
  height: 11.7%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div28 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "BalsamiqSans-Regular", sans-serif;
  font-size: 16px;
  line-height: 22px;
  letter-spacing: 0.02em;
  font-weight: 400;
  opacity: 0.8;
  position: absolute;
  right: 78.33%;
  left: 14.11%;
  width: 7.55%;
  bottom: 10.11%;
  top: 66.49%;
  height: 23.4%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.group-33 {
  position: absolute;
  inset: 0;
}
.div29 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
  position: absolute;
  right: 15.68%;
  left: 81.25%;
  width: 3.07%;
  bottom: 13.83%;
  top: 74.47%;
  height: 11.7%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.div30 {
  color: var(--blue, #7fc9f0);
  text-align: left;
  font-family: "Montserrat-Medium", sans-serif;
  font-size: 18px;
  font-weight: 500;
  position: absolute;
  right: 11.51%;
  left: 84.74%;
  width: 3.75%;
  bottom: 13.83%;
  top: 74.47%;
  height: 11.7%;
  display: flex;
  align-items: flex-end;
  justify-content: flex-start;
}
.map-pin {
  opacity: 0.4;
  width: 1.25%;
  height: 12.77%;
  position: absolute;
  right: 19.38%;
  left: 79.38%;
  bottom: 13.3%;
  top: 73.94%;
  overflow: visible;
}
.vector-2 {
  opacity: 0.08;
  width: 1920px;
  height: 0px;
  position: absolute;
  left: 0px;
  top: 112px;
  transform: translate(0px, -0.5px);
  overflow: visible;
}
.mask-group2 {
  width: 4.17%;
  height: 42.55%;
  position: absolute;
  right: 83.8%;
  left: 12.03%;
  bottom: 48.4%;
  top: 9.04%;
  overflow: visible;
}
.mask-group3 {
  width: 4.17%;
  height: 42.55%;
  position: absolute;
  right: 89.38%;
  left: 6.46%;
  bottom: 3.72%;
  top: 53.72%;
  overflow: visible;
}
.div31 {
  color: var(--sea, #446b80);
  text-align: left;
  font-family: "Montserrat-Regular", sans-serif;
  font-size: 18px;
  font-weight: 400;
  opacity: 0.8;
  position: absolute;
  right: 45.47%;
  left: 50.68%;
  width: 3.85%;
  bottom: 13.3%;
  top: 75%;
  height: 11.7%;
  display: flex;
  align-items: center;
  justify-content: flex-start;
}
.dropdown {
  border-radius: 12px;
width: 300px;
height: 30px;
position: absolute;
right: 69.9%;
left: -30px;
bottom: 57.45%;
top: 10px;
}

.dropdown-content {
  display: none;
  position: absolute;
  background-color: #7fc9f0;
  min-width: 160px;
  z-index: 1;
  left: 30px;
}

.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  border: 10px;
  display: block;
}

.dropdown-content a:hover {
  background-color: #7fc9f0;
  border: 1px solid black;
}


.submenu {
  display: none;
  position: absolute;
  left: 100%;
  top: 0;
  margin-left: 0;
}

.dropdown-content .has-submenu:hover .submenu {
  display: block;
}
.dropbtn{
  width: 250px;
  height: 30px;
  font-size: 18px;
  color: #446b80;
}
.has-submenu{
  width: 200px;
  height: 50px;
}
.submenu{
  width: 200px;
  height: 30px;
}
.submenu a{
  background-color: #76b8db;
}